<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<!-- 默认配置生效 -->
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
		
		
	<logger name="com.my.security" level="debug"></logger>
	<logger name="org.springframework.transaction" level="debug"></logger>
	<logger name="org.springframework.jms" level="debug"></logger>
	<logger name="org.springframework.jdbc" level="debug"></logger>
	<logger name="javax.transaction" level="debug"></logger>
	<logger name="javax.jms" level="debug"></logger>
	<logger name="org.hibernate.SQL" level="debug"></logger>
	<logger name="org.apache.ibatis" level="debug"></logger>
	<logger name="com.github.thierrysquirrel" level="debug"></logger>
	<root level="info">
		<appender-ref ref="CONSOLE"></appender-ref>
	</root>
</configuration>
